/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
  
    --middle-blue-green: hsl(176, 35%, 63%);
    --sonic-silver: hsl(0, 0%, 44%);
    --eerie-black: hsl(0, 0%, 9%);
    --ocean-green: hsl(148, 45%, 58%);
    --candy-pink: hsl(356, 65%, 63%);
    --cultured: hsl(0, 0%, 96%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 9%, 6%);
  
    /**
     * typography
     */
  
    --ff-jost: "Jost", sans-serif;
  
    --fs-1: 2.5rem;
    --fs-2: 1.75rem;
    --fs-3: 1.625rem;
    --fs-4: 1.5rem;
    --fs-5: 1.375rem;
    --fs-6: 1.25rem;
    --fs-7: 1.125rem;
    --fs-8: 0.938rem;
    --fs-9: 0.875rem;
    --fs-10: 0.813rem;
  
    --fw-500: 500;
    --fw-600: 600;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.75s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
  
    /**
     * spacing
     */
  
    --section-padding: 60px;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span,
  input,
  button,
  ion-icon { display: block; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  button {
    text-align: left;
    cursor: pointer;
  }
  
  input {
    width: 100%;
    outline-color: var(--middle-blue-green);
  }
  
  img { height: auto; }
  
  ion-icon { pointer-events: none; }
  
  html {
    font-family: var(--ff-jost);
    color: var(--sonic-silver);
    scroll-behavior: smooth;
  }
  
  body {
    background: var(--white);
    padding-block: 70px;
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/
  
  .container { padding-inline: 15px; }
  
  a,
  button { transition: var(--transition-1); }
  
  h3 > a { color: inherit; }
  
  .h1,
  .h2,
  .h3,
  .h4 {
    color: var(--eerie-black);
    font-weight: var(--fw-600);
  }
  
  .h1 {
    font-size: var(--fs-1);
    line-height: 1;
  }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 { font-size: var(--fs-6); }
  
  .h4 {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
  }
  
  .btn {
    background: var(--background, var(--eerie-black));
    color: var(--color, var(--white));
    font-weight: var(--fw-600);
    height: var(--height, 60px);
    padding-inline: 50px;
    border: 1px solid var(--border-color, var(--eerie-black));
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-primary:is(:hover, :focus) {
    --background: var(--white);
    --color: var(--eerie-black);
    --border-color: var(--eerie-black);
  }
  
  .btn-secondary {
    --height: 50px;
    --background: var(--white);
    --color: var(--eerie-black);
    --border-color: var(--white);
  }
  
  .btn-secondary:is(:hover, :focus) {
    --background: var(--eerie-black);
    --color: var(--white);
    --border-color: var(--eerie-black);
  }
  
  .btn-outline {
    --height: 50px;
    --background: var(--white);
    --color: var(--eerie-black);
    --border-color: var(--eerie-black);
    padding-inline: 40px;
  }
  
  .btn-outline:is(:hover, :focus) {
    --background: var(--eerie-black);
    --color: var(--white);
    --border-color: var(--eerie-black);
  }
  
  .section { padding-block: var(--section-padding); }
  
  .w-100 { width: 100%; }
  
  .section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  
  
  
  
  /*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/
  
  .header-search { display: none;
  background-color: aliceblue;
  padding: 2px 5px;; }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(0, 0%, 0%);
    width: 100%;
    padding-block: 20px;
    z-index: 4;
    transition: var(--transition-1);
  }
  
  .header.active {
    position: fixed;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-open-btn {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
  }
  
  .nav-open-btn span {
    width: 20px;
    height: 2px;
    background: var(--white);
    transition: var(--transition-1);
  }
  
  .nav-open-btn span:nth-child(2) {
    transform: scaleX(0.5);
    transform-origin: right;
  }
  
  .nav-open-btn:is(:hover, :focus) span:nth-child(2) { transform: scaleX(1); }
  
  .header-actions {
    background: var(--black);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding-block: 16px 10px;
    box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
    z-index: 1;
  }
  
  .header-action-btn {
    position: relative;
    width: 50px;
    text-align: center;
    color: white;
  }
  
  .header-action-btn ion-icon {
    margin-inline: auto;
    font-size: 22px;
    margin-bottom: 3px;
  }
  
  .header-action-label {
    color: hsl(0, 0%, 100%);
    font-size: var(--fs-10);
    transition: var(--transition-1);
  }
  .header-action-label,a {
    color: hsl(0, 0%, 100%);
    font-size: var(--fs-10);
    transition: var(--transition-1);
  }
  .header-action-label1,a:hover{
    color: var(--middle-blue-green);
  }
  
  .header-action-btn:is(:hover, :focus) .header-action-label { color: var(--middle-blue-green); }
  
  .header-action-btn .btn-badge {
    position: absolute;
    top: -5px;
    right: 0;
    background: var(--background, var(--eerie-black));
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    line-height: 0;
    font-size: 13px;
    color: var(--white);
    border-radius: 50%;
  }
  
  .header-action-btn .btn-badge.green { --background: var(--middle-blue-green); }
  .header-action-btn .btn-badge { --background: var(--middle-blue-green); }
  
  .navbar {
    background: var(--white);
    position: fixed;
    top: 0;
    right: -300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 30px 25px;
    z-index: 3;
    visibility: hidden;
    transition: 0.25s var(--cubic-out);
  }
  
  .navbar.active {
    visibility: visible;
    transform: translateX(-300px);
    transition: 0.5s var(--cubic-in);
  }
  
  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .nav-close-btn ion-icon { font-size: 23px; }
  
  .navbar-link {
    padding-block: 10px;
    color: var(--eerie-black);
    scroll-behavior: smooth;
  }
  
  /* .dropbtn
   {
    padding-block: 10px;
    color: var(--eerie-black);
    font-size: var(--fs-7);
      font-weight: var(--fw-500);
      padding-block: 20px;
  } */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: var(--fs-7);
  }
  
  .dropdown-content a:hover {color: var(--middle-blue-green);}
  
  .dropdown:hover .dropdown-content {
    display: block;
  
  }
  
  .dropdown:hover .dropbtn {color: var(--middle-blue-green);}
  
  .navbar-list > li:not(:last-child) { border-bottom: 1px solid var(--cultured); }
  
  .overlay {
    position: fixed;
    inset: 0;
    background: var(--black);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 2;
  }
  
  .overlay.active {
    opacity: 0.7;
    pointer-events: all;
  }
  html{
    scroll-behavior: smooth;
  }
  
  
  .blog .btn{
    margin-inline: auto;
  margin-top: 20px;
  }




  

  *{
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
  }
  /* .topnav nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px hsl(219, 9%, 45%) solid;
    margin: 0px 10% 50px 10%;
    padding: 15px 0px 20px 0px;
  } */
  /* .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .mobile {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  /* .nav-content li {
    padding-right: 1em;
    color: hsl(220, 13%, 13%);
  }
  .nav-content li:hover {
    cursor: pointer;
  } */
  
  /* .logo {
    padding-right: 3em;
  } */
  /* .right-nav {
    display: flex;
    align-items: center;
  } */
  /* .cart {
    padding: 0px 50px 0px 0px;
    cursor: pointer;
  } */
  /* .container {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 25px;
    margin-bottom: -6px;
    margin-left: 8px;
    z-index: 1;
  } */
  /* .cart-value {
    color: white;
    font-size: 10px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
  } */
  /* .avatar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
  }
  .avatar:hover {
    border: 1px white;
  }  */
  main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .imageproduct {
    width: 100%;
    border-radius: 10px;
    margin-left: 100px;
  }
  .cursor {
    cursor: pointer;
  }
  .active1 {
    border: 2px hsl(30, 44%, 41%) solid;
    opacity: 0.2;
  } 
  .thumbnail-row {
    display: flex;
    justify-content: space-between;
  }
  .thumbnail {
    width: 90%;
    border-radius: 10px;
    margin-right: 0px;
    padding: 0px;
    margin-left: 75px;
  }
  .thumbnail:hover {
    opacity: 0.6;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.5%;
  }
  .images {
    width: 30.5%;
  }
  .mobile-images {
    display: none;
  }
  .hero-span {
    color: hsl(0, 100%, 100%);
    text-transform: uppercase;
    font-weight: 700;
  }
  .hero-paragraph {
    font-size: 16px;
    color:  hsl(220, 13%, 13%);
  }
  .percent {
    margin: 0px 0px 0px 10px;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 5px 5px;
    border-radius: 5px;
  }
  .inner {
    display: flex;
    align-items: center;
  }
  .inner h2 {
    padding: 0px;
    margin: 0px;
  }
  .prev-price {
    text-decoration: line-through;
    padding: 0px;
    margin-top: 10px;
  }
  .values {
    background-color: hsl(223, 64%, 98%);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .values div {
    display: flex;
    align-items: center;
  }
  .minus-btn, .plus-btn {
    margin: 0px 30px;
    cursor: pointer;
  }
  .minus-btn:hover, .plus-btn:hover {
    opacity: 0.5;
  }
  .value {
    padding: 0px;
    border: none;
  }
  .display {
    display: flex;
  }
  .cart-btn {
    width: 100%;
    background-color:rgb(228, 95, 28);
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .cart-btn:hover {
    opacity: 0.6;
  } 
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imageproduct2 {
    width: 450px;
    border-radius: 10px;
    margin-top: 60px;
  }
  .row {
    display: flex;
    justify-content: center;
  } 
  .demo {
    width: 80px;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
  }
  .demo:hover {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  .over-display {
    position: absolute;
    top: 15%;
  }
  .overlay1 {
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 5;
    height: 50em;
    width: 100%;
  }
  .prev-btn {
    cursor: pointer;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    margin-left: -25px;
  } 
  .next-btn {
    cursor: pointer;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    right: 0px;
    margin-right: -25px;
  }
  .prev:hover, .next:hover {
    filter: invert(58%) sepia(50%) saturate(3283%) hue-rotate(348deg) brightness(102%) contrast(101%);
  }
  .close-icon {
    position: absolute;
    right: 0;
    top: -5%;
    color: white;
    cursor: pointer;
    z-index: 1;
    filter: brightness(0) invert(1);
    margin-top: 65px;
  }
  .close-icon:hover {
    filter: invert(58%) sepia(50%) saturate(3283%) hue-rotate(348deg) brightness(102%) contrast(101%);
  }
  aside {
    display: none;
  }
  .toggleaside {
    display: flex;
  }
  .cart-content, .product-cart {
    width: 21.875rem;
    height: 13.75rem;
    background-color: white;
    position: absolute;
    right: 80px;
    top: 80px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px hsl(219, 9%, 45%);
    box-sizing: border-box;
    display: none;
  }
  .cart-content h3, .product-cart h3 {
    border-bottom: 1px black solid;
    padding: 0 20px 20px 20px;
  }
  .cart-content span {
    position: relative;
    top: 20%;
    left: 30%;
    font-weight: 700;
  }
  .number-selected {
    border: none;
    background-color: white;
  }
  .emptycart {
    display: block;
  }
  .product {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mob {
    display: none;
  }
  .sub {
    display: flex;
    flex-direction: column;
  }
  .sub div p {
    padding: 0px;
    margin: 0px;
  } 
  .price {
    padding-left: 20px;
    font-weight: 700;
  }
  .cart-product-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .checkout-btn {
    width: 100%;
    background-color: hsl(0, 100%, 100%);
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-top: 10px;
  }
  .delete-btn {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .cart-price {
    margin-right:80px;
  }
.hero h1{
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero p{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  margin-top: 15px;
}

.inner h2{
  color: black;
  margin-bottom: 7px;
}


  .info {
    display: flex;
width: 930px;
height: 100px;
border: 2px solid grey;

/* margin-inline-start: auto;
margin-inline-end: 5px; */
margin-left: 70px;
margin-top: 50px;
margin-inline: auto;
  }

  .box1 img{
    width: 50px;
  }
  .box1 h2{
   text-align: center;
   margin-inline: auto;
   margin-left: -600px;
   margin-top: -38px;
   color: black;
   font-family: 'Times New Roman', Times, serif;
  }

  .box1 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    color: black;
    padding-left: 15px;
  }
  .info2 {
    display: flex;
width: 930px;
height: 100px;
border: 2px solid grey;
flex-wrap: wrap;
/* margin-inline-start: auto;
margin-inline-end: 5px; */
margin-left: 70px;
margin-inline: auto;
  }

  .box2 img{
    width: 50px;
  }

  .box2 h2{
    text-align: center;
    margin-inline: auto;
    margin-left: -495px;
    margin-top: -38px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
   }
   .box2 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    color: black;
    padding-left: 15px;
  }


.head h1{
margin-top: 55px;
/* margin-bottom: 10px; */
 /* text-align: end; */
 /* margin-right: 385px; */
 color: black;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 55px;
}


  .info3{
    display: flex;
width: 930px;
height: 100px;
border: 2px solid grey;

/* margin-inline-start: auto;
margin-inline-end: 5px; */
margin-left: 70px;
margin-inline: auto;
  }

  .box3 img{
    width: 50px;
  }

  .box3 h2{
    text-align: center;
    margin-inline: auto;
    margin-left: -625px;
    margin-top: -38px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
   }
   .box3 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 5px;
    color: black;
    padding-left: 15px;
  }

  /*-----------------------------------*\
 * #PRODUCT
\*-----------------------------------*/

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px 20px;
  margin-bottom: 50px;
}

.filter-btn {
  color: inherit;
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.filter-btn.active { color: var(--eerie-black);
 }

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 25px;
  margin-bottom: 60px;
  padding: 50px;
}

.product-card .card-banner {
  position: relative;
  margin-bottom: 20px;
}

.product-card .card-badge {
  background: var(--eerie-black);
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
  padding: 3px 10px;
}

.product-card .card-badge.red { background: var(--candy-pink); }

.product-card .card-badge.green { background: var(--ocean-green); }

.product-card .card-actions {
  display: flex;
  height: 45px;
}

.product-card .card-action-btn {
  border: 1px solid var(--cultured);
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: var(--white);
  color: var(--eerie-black);
}

.product-card .card-action-btn:is(:hover, :focus) { border-color: var(--eerie-black); }

.product-card .cart-btn {
  flex-grow: 1;
  background: var(--eerie-black);
  color: var(--white);
  border-color: var(--eerie-black);
}

.product-card .cart-btn:is(:hover, :focus) {
  background: var(--white);
  color: var(--eerie-black);
}

.product-card .card-action-btn ion-icon { font-size: 20px; }

.product-card .card-title { margin-bottom: 5px; }

.product-card .card-price {
  color: var(--eerie-black);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
}

.product-card .card-price data:not(:first-child) {
  color: var(--sonic-silver);
  margin-left: 5px;
  text-decoration: line-through;
}

.product .btn { margin-inline: auto; }
.btn-outline{
  background-color: black;

}

/* message */

.blog-card2 .card-banner2,img {
  /* background: var(--cultured);
  aspect-ratio: 2 / 1.37;
  overflow: hidden;
  margin-bottom: 25px; */
  /* margin-left: 43px; */
  /* text-align: left */
/* width: 50%;
margin-left: 5px; */
}
.blog-card2 .message{
  color: black;
  /* text-align: left; */
  margin-top: -120px;
  margin-left: 800px;
  position: absolute;
  /* width: fit-content; */
}
.blog-card2 .btn{
  margin-inline: auto;
}



  /*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-top {
    background: hsl(0deg 0% 0%);
    padding-block: var(--section-padding);
    margin-top: 120px;
  }
  
  .footer-top .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
  
  .footer .logo { margin-bottom: 20px; }
  
  .footer-text {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .social-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  
  .social-link {
    color: var(--white);
    font-size: 18px;
    width: 35px;
    height: 35px;
    border: 1px solid var(--sonic-silver);
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  
  .social-link:is(:hover, :focus) {
    background: var(--eerie-black);
    color: var(--white);
    border-color: var(--eerie-black);
  }
  
  .footer-list { width: 100%; }
  
  .footer-list-title {
    color: var(--white);
    font-size: var(--fs-5);
    font-weight: var(--fw-600);
    margin-bottom: 15px;
  }
  
  .footer-link {
    position: relative;
    color: inherit;
    padding-block: 5px;
  }
  
  .footer-link:is(:hover, :focus) {
    color: var(--white);
    transform: translateX(15px);
  }
  
  .footer-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) scale(var(--scale, 0));
    transform-origin: right;
    background: var(--sonic-silver);
    width: 10px;
    height: 2px;
    transition: var(--transition-1);
  }
  
  .footer-link:is(:hover, :focus)::before { --scale: 1; }
  
  .footer-bottom { padding-block: 20px; }
  
  .footer-bottom a { color: inherit; }
  
  .copyright {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .copyright a {
    display: inline-block;
    color: var(--eerie-black);
    font-weight: var(--fw-600);
  }
  
  .footer-bottom-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px 15px;
    margin-bottom: 15px;
  }
  
  .footer-bottom-link:is(:hover, :focus) { color: var(--eerie-black); }
  
  .payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  

/*-----------------------------------*\
 * #MEDIA QUARIES
\*-----------------------------------*/

/**
 * responsive for larger than 480px screen
 */
 @media only screen and (max-width: 960px) {
  .topnav nav ul {
      margin: 0px 0px 50px 0px;
  }
  main {
      display: flex;
      justify-content: space-around;
  }
  .images {
      width: 40%;
  }
  .hero {
      width: 40%;
  }
  .cart-content, .product-cart {
      right: 5px;
  }
}
 @media only screen and (max-width: 767px) {
    main {
        display: flex;
        justify-content: space-around;
    }
    .hero {
        width: 40%;
        
          margin-top: 680px;
          margin-left: -250px;
        
    }
    .images {
        width: 50%;
    }
    .logo {
        padding-right: 1em;
    }
    .cart {
        padding-right: 1em;
    } 
  }
  @media only screen and (max-width: 660px) {
.hero{
  margin-top: 680px;
  margin-left: -250px;
}


    .nav-content {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
    .sidenav {
        display: block;
        position: fixed;
        top: 0;
        width: 60%;
        height: 100vh;
        z-index: 5;
        background-color: white;
    }
    .overlay1 {
        position: fixed;
        height: 100vh;
        z-index: 3;
    }
    .sidenav img {
        padding: 20px 0 20px 10px;
    }
    .sidenav ul {
        padding: 10px;
        list-style-type: none;
        transition: all 3s;
    }
    /* .sidenav ul li {
        padding: 10px 0px;
    }
    .topnav nav ul {
        margin-left: 10px;
        margin-right: 10px;
    } */
    .mobile {
        display: flex;
        align-items: center;
    }
    .menu-icon {
        margin: 0 20px 0 0;
        transition: 2s;
    }
    .images, .hero {
        width: 50%;
    }
    .imageproduct {
        height: 400px;
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
    .slide {
        -webkit-animation-name: slide;
        -webkit-animation-duration: 1s;
        animation-name: slide;
        animation-duration: 1s;
    }
      @-webkit-keyframes slide {
        from {opacity: .8}
        to {opacity: 1}
      }
      
      @keyframes slide {
        from {opacity: .8}
        to {opacity: 1}
      }
  }
  @media only screen and (max-width: 520px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    aside {
        display: none;
    }
    .topnav nav ul {
        margin: 0px 10px;
    }
    .hero {
        width: 100%;
        padding: 20px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .mobile-images {
        width: 100%;
        display: block;
    } 
    .images {
        display: none;
    }
    .mobile-slides {
        display: none;
        width: 100%;
    }
    .mobileimageproduct {
        width: 100%;
    }
    .mobile-prev-btn {
        cursor: pointer;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;
        left: 20px;
    }
    .mobile-next-btn {
        cursor: pointer;
        background-color: white;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 30%;
        right: 20px;
    }
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .values {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .values div {
        display: flex;
        justify-content: space-between;
    }
    .cart-btn {
        height: 50px;
    }
    /* .logo {
        display: none;
    } */
    .cart-content, .product-cart {
        width: 90%;
        z-index: 1;
        position: absolute;
        top: 5px;
        left: 5%;
        right: 25px;
    }
    .big {
        display: none;
    }
    .mob {
        display: block;
    }
    .cart-price {
        margin-right: 50px;
    }
    .cart-container {
        position: relative;
    }
    .header{
      display: inline-block;
    }
  }
  @media only screen and (max-width: 330px) {
    .product {
        padding: 5px;
        
    }
    .header .logo{
      display: inline;  
    }
  }
  @media only screen and (max-width: 300px) {
    .cart-content, .product-cart {
        width: 100%;
        left: 0px;
    }
  }

 @media (max-width: 600px) {

    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 3rem;
      --fs-2: 2rem;
  
    }

    .info {
      display: flex;
  width: auto;
  height: 100px;
  border: 2px solid grey;
  
  margin-inline-start: auto;
  margin-inline-end: 5px;
  margin: 10px;
    }

    .box1 h2{
      text-align: center;
      margin-inline: auto;
      margin-left: 14px;
      margin-top: -38px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
     }

     .box1 p{
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 5px;
      color: black;
      font-size: 13px;
    }

    .info2 {
      display: flex;
  width: auto;
  height: 100px;
  border: 2px solid grey;
  flex-wrap: wrap;
  margin-inline-start: auto;
  margin-inline-end: 5px;
  margin: 10px;
    }

    .box2 h2{
      text-align: center;
      margin-inline: auto;
      margin-left: 40px;
      margin-top: -38px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
     }

     .box2 p{
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 5px;
      color: black;
      font-size: 13px;
    }
    .info3{
      display: flex;
  width: auto;
  height: 100px;
  border: 2px solid grey;
  
  margin-inline-start: auto;
  margin-inline-end: 5px;
  margin: 10px;
    }

    .box3 h2{
      text-align: center;
      margin-inline: auto;
      margin-left: 14px;
      margin-top: -38px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
     }

     .box3 p{
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 5px;
      color: black;
      font-size: 13px;
    }
    .product-list > li { width: calc(80% - 12.5px); }
    
  
    /**
     * FOOTER
     */
  
    .footer-brand { width: 100%; }
  
    .footer-text { max-width: 470px; }
  
    .footer-list { width: calc(50% - 20px); }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 580px screen
   */
  
  @media (min-width: 580px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 3.75rem;
      --fs-2: 2.375rem;
      --fs-3: 2.25rem;
  
    }
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 550px;
      margin-inline: auto;
    }
    .product-list > li { width: calc(50% - 12.5px); }
  }
  
  
  
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 700px; }
  
    
  
  
   
  
  
    /**
     * FOOTER
     */
  
    .footer-list { width: calc(33.33% - 26.66px); }
  
    .copyright,
    .footer-bottom-list { margin-bottom: 0; }
  
    .footer-bottom .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 25px 50px;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 5rem;
  
    }
  /**
   * PRODUCT
   */

   .product-list > li { width: calc(33.33% - 16.66px); }

   .product-card .card-actions {
     position: absolute;
     bottom: 20px;
     left: 20px;
     right: 20px;
     transform: translateY(100px);
     visibility: hidden;
     transition: var(--transition-1);
   }
 
   .product-card .card-banner { overflow: hidden; }
 
   .product-card .card-banner:hover .card-actions {
     visibility: visible;
     transform: translateY(0);
   }
 
   .product-card .card-action-btn:first-child { border-radius: 6px 0 0 6px; }
 
   .product-card .card-action-btn:last-child { border-radius: 0 6px 6px 0; }
 
  
  
    /**
     * RESET
     */
  
    body { padding-block: 0; }
  
  
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 950px; }
  
  
  
    /**
     * HEADER
     */
  
    .header {
      position: relative;
      padding-block: 15px;
      border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
      margin-bottom: 67px;
    }
  
    .header.active {
      position: relative;
      box-shadow: none;
    }
  
    .header .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }
  
    .header-search {
      display: block;
      position: relative;
      width: max-content;
    }
  
    .header-search .input-field {
      border: 1px solid hsla(0, 0%, 0%, 0.1);
      width: 280px;
      padding: 12px 30px;
      border-radius: 6px;
      transition: var(--transition-1);
    }
  
    .header-search .input-field:focus { outline: 1px solid var(--eerie-black); }
  
    .header-search .search-btn {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      font-size: 20px;
      color: var(--eerie-black);
    }
  
    .header-search .search-btn ion-icon { --ionicon-stroke-width: 30px; }
  
    .header .logo { margin-inline: auto; }
  
    .nav-open-btn,
    .header-action-btn:nth-child(2),
    .navbar-top,
    .overlay { display: none; }
  
    .header-actions {
      all: unset;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
    }
  
    .navbar {
      all: unset;
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      width: 100%;
      background: var(--white);
    }
  
    .header.active .navbar {
      position: fixed;
      top: 0;
      box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
    }
  
    .navbar-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
  
    .navbar-list > li:not(:last-child) { border-bottom: none; }
  
    .navbar-link {
      font-size: var(--fs-7);
      font-weight: var(--fw-500);
      padding-block: 20px;
    }
  
    .navbar-link:is(:hover, :focus) { color: var(--middle-blue-green); }
  
  
  
  }
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-1: 6.25rem;
  
    }
  
  
    .product-list > li { width: calc(25% - 18.75px); }
  
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1150px; }
  
  
  
    /**
     * HEADER
     */
  
    .header-search .input-field { width: 350px; }
  
    
  
    
  
  
    /**
     * FOOTER
     */
  
    .footer-brand { width: calc(40% - 30px); }
  
    .footer-text { max-width: 340px; }
  
    .footer-list { width: calc(20% - 30px); }
  
    .footer-bottom .container { justify-content: space-between; }
  
  }
  